openai~=1.37.1
google-generativeai
anthropic~=0.32.0
mistralai~=0.4.2
atomicwrites~=1.4.1
json_repair~=0.25.3
pandas~=2.2.2
numpy~=1.26.4
scipy~=1.12.0
transformers~=4.28.1
torch~=2.4.1+cu124
huggingface-hub~=0.24.5
datasets~=2.12.0
tqdm~=4.66.4